@import './../../../assets/stylus/_settings'

.modal
    max-width 600px
    padding-top 3rem
    padding-right 2rem

.modal-header
    background-color background-brown
    color white

.modal-header--title
    text-align center
    padding-top 1rem

.modal-table
    background-color modal-background
    border-collapse collapse

.modal-table--head
    height 35px

.modal-table--itemRow
    height 30px
    background-color modal-background-item

.modal-table--item
    text-align center

.modal-footer
    background-color modal-background

.modal-footer--item
    padding-top 1rem
    padding-bottom 1rem
