@import './../../../assets/stylus/_settings'

.text-input--container
    background-Color background-light

.text-input
    padding .7rem 1rem .5rem 1rem
    font-size 1.2rem
    outline none
    border none
    background-color background-light
    width 100px
    font-family Daxline
    border-right: 1px solid rgba(0, 0, 0, 0.2)
    text-transform capitalize

.div-icon
    width 40px
