@import './../../../assets/stylus/_settings'

.text-input
    padding .7rem 1rem .5rem 1rem
    font-size 1.2rem
    outline none
    border none
    background-color background-light
    width 100px
    font-family Daxline
