@import './../../../assets/stylus/_settings'

.text-input--container
    background-Color background-light

.text-input
    padding .7rem 1rem .5rem 1rem
    font-size 1.1rem
    outline none
    border none
    background-color background-light
    font-family Daxline

.text-input-medium
    width 100px

.text-input-big
    width 300px
