@import './../../../assets/stylus/_settings'

.items-container
    padding 0 1rem 2rem 1rem

.table--billStatus--cell
    text-transform Capitalize

.table--cell--comment
    width 200px

.table--cell--positionRelative
    position relative

.table--cell--text
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.table--cell--arrowIcon
    background-color background-light

.table--modal--expanded
    position absolute
    top 100%
    background-color primary-color
    border 2px solid white
    padding .5rem
    z-index 100
    max-width 400px

.table--modal--text
    white-space normal
    overflow-wrap break-word
    line-height 1.2rem
    margin-bottom 0

.table--cell--whiteSpace
    width 2rem
