@import './../../../assets/stylus/_settings'

.items-container
    padding 2% 5%
    
.button-o
    text-transform uppercase
    padding .5rem 1rem
    border 1px solid button-default-color
    border-right none
    cursor pointer
    &:last-child
        border-right 1px solid button-default-color
    &.active
        background-color button-default-color
        color white
        
.items--categories
    margin-bottom 2rem