@import './../../../assets/stylus/_settings'

.items-container
    padding 1rem
    
.button-o
    text-transform uppercase
    padding .5rem 1rem
    border 1px solid button-default-color
    border-right none
    cursor pointer
    &:last-child
        border-right 1px solid button-default-color
    &.active
        background-color button-default-color
        color white
        
.items--categories
    margin-bottom 2rem
    
table
    border-spacing 0
    th
        padding .5rem
thead
    tr
        background-color background-medium
tbody
    tr
        &:nth-child(2n + 1)
            background-color background-light
            
.items--table--statuses
    span
        margin 0 .5rem
        &.Pendente
            color red
        &.Encaminhado
            color blue
        &.Entregue
            color green
    