@import './../../../assets/stylus/_settings'

.table-container
    padding 5% 12%
    
.table-filter
    margin-left 2rem
    margin-right 3rem
    color black
    text-decoration none
    &.fechada
        background-color danger-color
        
.table-details
    background-color transparent

.table-details--header
    background-color background-brown
    color white
    
.table-details--title
    padding 1rem
    padding-top 1.4rem
    margin-right 3rem
    font-weight 300

.table-details--number
    background-color primary-color

.table-details--numbertext
    padding 0.5rem
    font-weight 300
    margin-bottom 0rem
    
.table-details--content
    padding-bottom 0rem

.table-details--footer
    background-color primary-color
    color white
    padding 0.6rem
