@import './../../../assets/stylus/_settings'

.button
    margin .3rem 0
    cursor pointer
    border none
    font-weight bold
    text-transform uppercase
    outline none

.button--default
    background-color button-default-color
    color white
    
.button--medium
    padding .5rem 1rem
    font-size 0.76rem
    
.button--big
    padding .8rem 1.2rem
    font-size 0.8rem
    