@import './../../../assets/stylus/_settings'

.button
    padding .5rem 1rem
    margin .3rem 0
    cursor pointer
    border none
    font-weight bold
    font-size 0.76rem
    text-transform uppercase

.button--default
    background-color button-default-color
    color white