@import './../../../assets/stylus/_settings'

header-height = 60px

.header
    position fixed
    z-index 100
    height header-height
    padding 1rem

.navs
    *
        margin 0 .25rem
            
.main-content
    padding-top header-height