@import './../../../assets/stylus/_settings'

header-height = 60px

.header
    position fixed
    z-index 100
    height header-height
    padding 1rem
    background-color white

.navs
    *
        margin 0 .25rem

.logo
    padding-left 4rem

.main-content
    padding-top header-height

@font-face
    font-family Daxline
    src url(./../../../assets/fonts/DaxlineProRegular.ttf)

@font-face
    font-family DaxlineLight
    src url(./../../../assets/fonts/DaxlineProLight.ttf)

@font-face
    font-family DaxlineMedium
    src url(./../../../assets/fonts/DaxlineProMedium.ttf)
