success-color = green
info-color = blue
warning-color = yellow
danger-color = red

default-color = #8c9894
default-hover-color = #778580
primary-color = #7cabab
primary-hover-color = #6f9999
secondary-color = #c8e4cd
secondary-hover-color = #b7dcbd
terciary-color = #e6be91

background-dark = #7b7979
background-medium = #8c9894
background-medium-color = white
background-light = #DDE0E0
background-light-secondary = #F9F4ED
background-brown = #423736

main-side-padding = 6rem
