success-color = green
info-color = blue
warning-color = yellow
danger-color = red

default-color = #8c9894
default-hover-color = #778580
primary-color = #7cabab
primary-hover-color = #6f9999
secondary-color = #c8e4cd
secondary-hover-color = #b7dcbd

background-dark = #7b7979
background-medium = #a7a6a6
background-light = #dde0df

main-side-padding = 6rem
