success-color = green
info-color = blue
warning-color = yellow
danger-color = red

background-dark = #7b7979
background-medium = #a7a6a6
background-light = #e9e8e7

main-side-padding = 6rem

// Button
button-default-color = danger-color