.flex
    display flex
    align-items center

.flex-column
    display flex
    align-items center
    flex-direction column

.flex, .flex-column
    &.stretch
        align-items stretch
    &.start
        align-items flex-start
    &.end
        align-items flex-end

.wrap
    flex-wrap wrap

.justify-center
    justify-content center

.justify-end
    justify-content flex-end

.space-between
    justify-content space-between

.space-around
    justify-content space-around

.grow-1
    flex-grow 1

.full-w
    width 100%

.full-h
    height 100%

.text-danger
    color danger-color

.font-padding
    padding-top .2rem
