@import './../../../assets/stylus/_settings'

table-item-margin = .5rem
table-item-width-subtractor = table-item-margin * 2

.tables-container
    padding 5% 18%
    
.tables-item
    cursor pointer
    padding 3rem 0
    margin table-item-margin
    width 'calc(25% - %s)' % table-item-width-subtractor
    background-color background-light