@import './../../../assets/stylus/_settings'

.table
    border-spacing 0
    border-collapse collapse
    border: 1px solid rgba(0, 0, 0, 0.5)

.table--header
    background-color background-medium

.table--header--item
    padding .5rem
    border-left: 1px solid rgba(0, 0, 0, 0.2)

.table--row--blank
    margin-bottom 2rem
    background-color background-light
    
    .table--row--blank--item
        width 100%
        height 10px
        background-color white
        
    &:last-child
        .table--row--blank--item
            display none

.table--row--striped:nth-child(2n + 1)
    background-color background-light

