@import './../../../assets/stylus/_settings'

table
    border-spacing 0
    border-collapse collapse
    border: 1px solid rgba(0, 0, 0, 0.5)
    th
        padding .5rem
        border-left: 1px solid rgba(0, 0, 0, 0.2)

thead
    tr
        background-color background-medium
tbody
    tr
        &.blank--rows--false &:nth-child(2n + 1)
            background-color background-light

    th
        &.blank--rows--true
            height 40px
            padding-bottom 23px
            background-image linear-gradient(to bottom, #DDE0E0 65%, #F9F4ED 35%)
