@import './../../../assets/stylus/_settings'

table
    border-spacing 0
    th
        padding .5rem
thead
    tr
        background-color background-medium
tbody
    tr
        &:nth-child(2n + 1)
            background-color background-light
